.taskTitle:hover {
  cursor: pointer;
  border-radius: 12px;
  box-shadow:  8px 8px 11px #cecece,
  -8px -8px 11px #f2f2f2;
}

.checkmarkWrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmarkWrapper {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  height: 1.1em;
  width: 1.1em;
  border-radius: 100%;
}

.checkmark {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  height: 1.1em;
  width: 1.1em;
  border-radius: 100%;
  background: #e8e8e8;
  box-shadow: 3px 3px 5px #c5c5c5,
  -3px -3px 5px #ffffff;
  transition-duration: 0.5s;
}

.checkmarkWrapper input:checked ~ .checkmark,
.checkmarkWrapper input:hover ~ .checkmark{
  box-shadow: inset 3px 3px 5px #c5c5c5,
  inset -3px -3px 5px #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
}

.checkmarkWrapper input:checked ~ .checkmark:after {
  opacity: 1;
}

.checkmarkWrapper .checkmark:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.25em;
  height: 0.5em;
  border: solid darkgray;
  border-width: 0 0.15em 0.15em 0;
}

.checkmarkWrapper .checkmark:hover:after{
  border-color: green;
}
